body{
    padding: 0;
    margin: 0;
    background-color: black;
    scroll-behavior: smooth;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.25);
    backdrop-filter: blur(20px);
    z-index: 999;
}
.btn {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn img{
    width: 50px;
}
.btn button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 100px;
    cursor: pointer;
    transition: .2s;
}
.btn button:hover{
    opacity: 0.7;
}
nav ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 10;
}
.hero-section{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.hero-vids{
    width: 100%;
    height: 100%;
    position: relative;
}
.hero-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-info{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 10px;
}
.hero-info h1{
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}
.hero-info button{
    padding: 5px;
    border-radius: 20px;
    width: 10em;
    border: solid 2px rgb(233, 253, 52);
    background-color: rgb(233, 253, 52);
    transition: 0.7s;
}
.hero-info button:hover{
    background-color: transparent;
    color: rgb(233, 253, 52);
    box-shadow: 0 0 20px rgb(233, 253, 52)
}
.gaming-txt{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10px;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}
.nxt-btn{
    position: absolute;
    z-index: 1;
    margin: 50vh auto;
    padding: 35px 25px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: solid 2px rgb(233, 253, 52);
    background-color: rgb(233, 253, 52);
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.7s;
    cursor: pointer;
    opacity: 0;
}
.nxt-btn:hover{
    box-shadow: 0 0 20px rgb(233, 253, 52);
    opacity: 1;
    width: 200px;
    height: 200px;
}